@import "index.css";
.step-form {
    padding: 2em;
}

.previous-btn {
    width: 40%;
    margin-top: 1em;
    background-color: #F3F4F5;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 3px;
    border: 0px;
    color: rgb(0, 115, 185);
    -webkit-box-shadow: 10px 11px 32px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 32px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 11px 32px -17px rgba(0, 0, 0, 0.75);
}

.next-btn {
    width: 40%;
    margin-top: 1em;
    background: rgb(0, 115, 185);
    background: linear-gradient(60deg, rgba(0, 115, 185, 1) 0%, rgba(0, 224, 255, 1) 100%, rgba(0, 212, 255, 1) 100%);
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 3px;
    border: 0px;
    color: #fff;
    -webkit-box-shadow: 10px 11px 32px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 32px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 11px 32px -17px rgba(0, 0, 0, 0.75);
}

.role-dropdown {
    width: 40%;
    background-color: #121212;
    -webkit-box-shadow: 10px 11px 32px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 32px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 11px 32px -17px rgba(0, 0, 0, 0.75);
    padding: .3em;
    border: 1px solid #121212;
    color: #F3F4F5;
    border-radius: 3px;
}