.user {
    padding: 5% 10% 5% 10%;
}

.user-container {
    padding: 1%;
    background-color: #fff;
    -moz-box-shadow: 10px 11px 32px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 11px 32px -17px rgba(0, 0, 0, 0.75);
}